*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#0275d8;
}
$color:white;
$border:1px solid black;
$border-collapse:collapse;
$orang-color:rgb(255,205,154);
$green-color:rgb(0,255,1);
$pink-color: rgb(255,153,255);
$ash-color:rgb(204,204,204);

table{
    border-top: 10px solid rgb(153,153,153);
    border-left: 10px solid rgb(153,153,153);
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-collapse: $border-collapse;
    background-color: $color;
    width: 100%;
}
table td,table th{
    border: $border;
    padding: 8px;
    text-align: center;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0275d8;
}
.orange-color{
    background-color:$orang-color ;
}
.green-color{
   background-color: $green-color;
}
.pink-color{
    background-color: $pink-color;
}
.ash-color{
    background-color: $ash-color;
}